<html>
	<head>
        	<title>Shippable</title>
        	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    	</head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Shipppable Assignment</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('result') }}">
                  <label for="yourname">Please enter The url in the form:(https://github.com/Shippable/support/issues)</label>
                  <input type="text" name="url" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
